@import "../../css/colors.css";
@import "../../css/units.css";
.modal-content {
    width: 360px;
}
.min-input, .max-input {
    margin-bottom: 1.5rem;
    width: 100%;
    border: 1px solid $ui-black-transparent;
    border-radius: 5px;
    padding: 0 1rem;
    height: 3rem;
    color: $text-primary-transparent;
    font-size: .875rem;
}
.submit-login-button {
    background: $data-primary;
}
.btn-submit {
    background: hsla(30, 100%, 55%, 1);
    height: 2rem;
    alignment: center;
    cursor: pointer;
    border-radius: $form-radius;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 9.75rem;
    user-select: none;
}